<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="CustomerKey" value="..." />
    <add key="ApiUser" value="..." />
    <add key="ApiPassword" value="..." />
    <add key="ClientVersion" value="v1" />
    <add key="EnableProviders" value="true" />
    <add key="EnablePatients" value="false" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_KareoServices" 
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservice.kareo.com/services/soap/2.1/KareoServices.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_KareoServices"
          contract="KareoApi.KareoServices" name="BasicHttpBinding_KareoServices" />
    </client>
  </system.serviceModel>
</configuration>